<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Message Board{% endblock %}</title>  <!--頁面標籤-->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
<main class="container">
    <header>
        <h1 class = "text-center display-4">
            <!--<a> tag is used to link from one page to another.-->
            <a href="{{url_for('index')}}" class="text-important"><strong>Message Board</strong></a>
            <!--<small class="text-muted">subtitle</small>-->
        </h1>
    </header>
    {% for flash_content in get_flashed_messages() %}   <!--main.py flash('message sent')-->
            <div class="alert alert-info">   <!-- div: 區塊 -->
                <button type="button" class="close" data-dismiss="alert">&times;</button>  <!-- &times; HTML 的实体字符，x乘号-->
                {{ flash_content}}
            </div>
    {% endfor %}
    {% block content %}{% endblock %}
    <footer>
        {% block footer %}  <!--覆蓋jinja模板中的footer-->
        <small>codes on
            <a href="https://github.com/grass805/online_message_board">GitHub</a>
        </small>
        <h5 class="float-right ">
            <!-- <a href="#top" title="To Top">&uarr;</a> -->
            <a id="bottom" href="#" title="Go Top">&uarr;</a> <!--要這樣寫在index的go bottom才會有功能!-->
        </h5>
        {% endblock %}
    </footer>
</main>


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
</body>
</html>
